<p id="notice"><%= notice %></p>

<p>
  <strong>Recipient:</strong>
  <%= @invite.recipient_id %>
</p>

<p>
  <strong>Message:</strong>
  <%= @invite.message %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @invite.activity_id %>
</p>

<%= link_to 'Edit', edit_invite_path(@invite) %> |
<%= link_to 'Back', invites_path %>
