<%= form_for(@ping) do |f| %>
  <% if @ping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ping.errors.count, "error") %> prohibited this ping from being saved:</h2>

      <ul>
      <% @ping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :sender_id %><br>
    <%= f.number_field :sender_id %>
  </div>
  <div class="field">
    <%= f.label :conversation_id %><br>
    <%= f.number_field :conversation_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
