<p id="notice"><%= notice %></p>

<p>
  <strong>Desc:</strong>
  <%= @activity.desc %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @activity.creator_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @activity.location %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
